<!DOCTYPE html>
<html>
<head>
	<title>Charbase: A visual unicode database</title>
	<link rel="stylesheet" type="text/css" href="static/iphone.css" media="only screen and (max-device-width: 480px)" />
	<link rel="stylesheet" type="text/css" href="static/desktop.css" media="screen and (min-device-width: 481px)" />
	<!--[if IE]>
	<link rel="stylesheet" type="text/css" href="static/desktop.css" media="all" />
	<![endif]-->

	<meta name="viewport" content="user-scalable=no, width=device-width" />
	<meta name="google-site-verification" content="jiTzgY44zG-SxbXJSbi4wlOOVITXOULMaACbB6vPsWg" />
</head>
<body>
	<div id="header">
	<h1><a href="/">Charbase</a></h1>
	<h2>A visual unicode database</h2>
	<form method="GET" action="/" onsubmit="location.href='https://google.com/search?q=site:charbase.com+'+encodeURIComponent(document.getElementById('search').value); return false;">
		<input class="search" type="search" name="search" id="search" results="5" value="{{ search|escape }}" placeholder="Search" />
	</form>
	</div>
	
	<div id="main">

	<div class="description span-5 box last">
		<p>Charbase is a visual database of characters from the Unicode 6.1 standard, made available 
		without clutter.</p>
<p>
<a href="https://www.amazon.com/gp/product/059610121X/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=059610121X&linkCode=as2&tag=grack-20"><img border="0" src="static/book1.jpg" ></a><img src="https://www.assoc-amazon.com/e/ir?t=grack-20&l=as2&o=1&a=059610121X" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a>
<a href="https://www.amazon.com/gp/product/0321480910/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0321480910&linkCode=as2&tag=grack-20"><img border="0" src="static/book2.jpg" ></a><img src="https://www.assoc-amazon.com/e/ir?t=grack-20&l=as2&o=1&a=0321480910" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></a>
<a href="https://www.amazon.com/gp/product/0201700522/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0201700522&linkCode=as2&tag=grack-20"><img border="0" src="static/book3.jpg" ></a><img src="https://www.assoc-amazon.com/e/ir?t=grack-20&l=as2&o=1&a=0201700522" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
<a href="https://www.amazon.com/gp/product/0596102429/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0596102429&linkCode=as2&tag=grack-20"><img border="0" src="static/book4.jpg" ></a><img src="https://www.assoc-amazon.com/e/ir?t=grack-20&l=as2&o=1&a=0596102429" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
</p><hr>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="mmastrac">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>

	<h2>Popular Unicode Characters</h2>

	<table class="top-blocks">
	{% for block in suggested_blocks %}
	<tr><td><a href="{{ block.link }}">{{ block.name }}</a></td></tr>
	{% endfor %}
	<tr><td><a href="/block">More blocks...</a></td></tr>
	</table>
	
	<table class="top-characters">
	{% for glyph in top_chars %}
	<tr><td class="char"><a href="{{ glyph.link }}"><img width="80" src="/images/glyph/{{ glyph.id }}"></a></td><td><a href="{{ glyph.link }}">{{ glyph.name }}</a></td></tr>
	{% endfor %}
	</table>
	
	<div class="clear"></div>
	</div>
	
    <div id="footer">
    <p><a href="https://spreadsheets.google.com/viewform?formkey=dG53SmctNTJQRzkzYU1mSGxOVWJLVVE6MA">Contact Us</a></p>
    </div>
	
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-198407-6']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();
</script>
	
</body>
</html>
